.header
  .header__box
    .header__box__center
      家事分担リスト
    .header__box__under
      %ul.account-box
        %li.list__login
          ログイン
        %li.list__category
          新規登録
        -# -if user_signed_in?
        -#   %li.list__mypage
        -#     = link_to "マイページ",user_path(current_user.id), class:"btn",id: "hover-c"
        -# -else
        -#   %li.list__login
        -#     = link_to "ログイン",new_user_session_path, class:"btn",id: "hover-d"
        -#   %li.list__category
        -#     = link_to "新規登録",signup_index_path, class:"btn",id: "hover-e"