= render "header"
.main
  .main__left
    .category
      .category__top
        チェックリスト
      .category__boxs
        .category__boxs__content
          .category__boxs__content__box
            .check
              床掃除
            .person
              %ul.person__list
                %li.people
                  Aさん
                %li.people
                  Bさん
            .comment
              %form{action: "#", method: "post"}
                %p
                  連絡：
                  %br/
                  %input{comment: "text", type: "text"}/
                %p
                  %input#button2{type: "button",value: "コメントする"}/

        .category__boxs__content
          .category__boxs__content__box
            .check
              床掃除
            .person
              %ul.person__list
                %li.people
                  Aさん
                %li.people
                  Bさん
            .comment
              %form{action: "#", method: "post"}
                %p
                  連絡：
                  %br/
                  %input{comment: "text", type: "text"}/
                %p
                  %input#button2{type: "button",value: "コメントする"}/
        .category__boxs__content
          .category__boxs__content__box
            .check
              床掃除
            .person
              %ul.person__list
                %li.people
                  Aさん
                %li.people
                  Bさん
            .comment
              %form{action: "#", method: "post"}
                %p
                  連絡：
                  %br/
                  %input{comment: "text", type: "text"}/
                %p
                  %input#button2{type: "button",value: "コメントする"}/
        .category__boxs__content
          .category__boxs__content__box
            .check
              床掃除
            .person
              %ul.person__list
                %li.people
                  Aさん
                %li.people
                  Bさん
            .comment
              %form{action: "#", method: "post"}
                %p
                  連絡：
                  %br/
                  %input{comment: "text", type: "text"}/
                %p
                  %input#button2{type: "button",value: "コメントする"}/
        .category__boxs__content
          .category__boxs__content__box
            .check
              床掃除
            .person
              %ul.person__list
                %li.people
                  Aさん
                %li.people
                  Bさん
            .comment
              %form{action: "#", method: "post"}
                %p
                  連絡：
                  %br/
                  %input{comment: "text", type: "text"}/
                %p
                  %input#button2{type: "button",value: "コメントする"}/